:root {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #252525;
    color: #ffffff;
    margin: 0;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #dc143c;
}

pre {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border-color: #000000;
    border-style: solid;
    background-color: #0000000f;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    min-height: 200px;
    background-color: #0000000f;
    border-radius: 1rem;

}